{% load staticfiles %}

<!doctype html>
<html lang="fr" >
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Issue tracker{% endblock %}</title>
    <link rel="stylesheet" href="{% static "bower_components/bootstrap/dist/css/bootstrap.min.css" %}"/>
    <link rel="stylesheet" href="{% static "css/timeline.css" %}"/>
    {% block extra_css %}{% endblock %}
    <link rel="stylesheet" href="{% static "css/apptracker.css" %}"/>

</head>

<body>

<div class="container">

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Issue Tracker</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">

                    {% block nav_menu %}{% endblock %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if perms.apptracker.view_trackerteam %}
                        <li class="sidebar-list">
                            <a href="{% url "team-list" %}">Teams</a>
                        </li>
                    {% endif %}
                    <li><a href="{% url "project-list" %}">Projects</a></li>
                    {% if user.is_authenticated %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ user.username }} <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Logout</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li><a href="#">Log in</a></li>
                    {% endif %}
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="row">
        <div class="col-xs-12">
            <ol class="breadcrumb">
                <li><a href="#">Projects</a></li>
                {% block breadcrumb %}{% endblock %}
            </ol>
        </div>
    </div>
    {% block content %}{% endblock %}
</div>
<script src="{% static "bower_components/jquery/dist/jquery.min.js" %}"></script>
<script src="{% static "bower_components/jquery.cookie/jquery.cookie.js" %}"></script>
<script src="{% static "bower_components/bootstrap/dist/js/bootstrap.min.js" %}"></script>
<script src="{% static "js/main.js" %}"></script>
{% block extra_js %}{% endblock %}
</body>

</html>