{% load staticfiles %}

<!doctype html>
<html lang="fr" >
    <head>
        <meta charset="UTF-8">
        <title>Issue tracker</title>
        <link rel="stylesheet" href="{% static "bower_components/bootstrap/dist/css/bootstrap.min.css" %}"/>
        <link rel="stylesheet" href="{% static "bower_components/angular-bootstrap-colorpicker/css/colorpicker.min.css" %}"/>
        <link rel="stylesheet" href="{% static "css/timeline.css" %}"/>
        <link rel="stylesheet" href="{% static "css/apptracker.css" %}"/>



    </head>

    <body ng-app="trackerApp">
        <div class="container" ng-view></div>

        <script src="{% static "bower_components/angular/angular.min.js" %}"></script>
        <script src="{% static "bower_components/angular-route/angular-route.min.js" %}"></script>
        <script src="{% static "bower_components/angular-sanitize/angular-sanitize.min.js" %}"></script>

        <script src="{% static "bower_components/angular-bootstrap/ui-bootstrap.min.js" %}"></script>
        <script src="{% static "bower_components/angular-smart-table/dist/smart-table.min.js" %}"></script>

        <script src="{% static "bower_components/angular-bootstrap-colorpicker/js/bootstrap-colorpicker-module.min.js" %}"></script>

        <script src="{% static "js/app.js" %}"></script>

        <script src="{% static "js/services/project-services.js" %}"></script>
        <script src="{% static "js/services/issue-services.js" %}"></script>

        <script src="{% static "js/controllers/project-controllers.js" %}"></script>
        <script src="{% static "js/controllers/issue-controllers.js" %}"></script>

    </body>

</html>