
<div class="row">
    <div class="col-md-6">
        <div class="box">
            <div class="box-header">
                <h3>Add a new ticket</h3>
            </div>

            <div class="box-body">
                <form novalidate class="simple-form">
                    <div class="form-group">
                        <p><span ng-repeat="label in issue_labels" ng-click="removeLabel(label)" class="label" style="background-color:{{ label.color }}">{{ label.title }}</span></p>
                        <label for="title">Title</label>
                        <input type="text" class="form-control" id="title" ng-model="issue.title">

                        <label for="description">Description</label>
                        <textarea class="form-control" rows=6 id="description" ng-model="issue.description"></textarea>
                    </div>
                    <button type="submit" class="btn btn-success" ng-click="add(issue)">Add new issue</button>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="box">
            <div class="box-header">
                <h3>Project labels</h3>
            </div>

            <div class="box-body">
                <p class="text-center" ng-hide="labels.length">No label</p>
                <p ng-repeat="label in labels"><span class="label" ng-click="addLabel(label)" style="background-color:{{ label.color }}">{{ label.title }}</span></p>
            </div>
        </div>
    </div>
</div>
