<div class="row">
    <div class="col-md-6">
        <h1>Add a new project</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <form novalidate class="simple-form">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" ng-model="project.name">

                <label for="description">Description</label>
                <input type="text" class="form-control" id="description" ng-model="project.description">
            </div>

            <button type="submit" class="btn btn-success" ng-click="add(project)">Add</button>
        </form>
    </div>
</div>
