
<div class="row row-header">
    <div class="col-md-12">
        <h1>{{ project.name }}</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <a href="#/project/{{ project.pk }}/issues/new" class="btn btn-success btn-block">Add a new issue</a>

        <h4 class="sidenav-title">NAVIGATION</h4>
        <ul class="sidenav">
            <li><a href="#/project/{{ project.pk }}/issues"><i class="glyphicon glyphicon-th-list"></i> Issues</a></li>
            <li><a href="#"><i class="glyphicon glyphicon-stats"></i> Stats</a></li>
            <li><a href="#/project/{{ project.pk }}/settings"><i class="glyphicon glyphicon-cog"></i>  Settings</a></li>
        </ul>
    </div>

    <div class="col-md-9">
        <div class="box">
            <div class="box-header">
                <h3>Issue</h3>
            </div>

            <div class="box-body">

                <div ng-repeat="issue in project.issues" class="issue-block">
                    <div class="row">
                        <div class="col-md-12">
                            <h4><a href="#/project/{{ project.pk }}/issue/{{ issue.pk }}" >{{ issue.title }}</a> <small>#{{ issue.pk }}</small></h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">

                            <p>
                                <i class="glyphicon glyphicon-time"></i> {{ issue.created_date | date :'MM-dd-yyyy' }}
                                <i class="glyphicon glyphicon-user"></i> {{ issue.owner.username }}
                                <i class="glyphicon glyphicon-tags"></i> <span ng-repeat="label in issue.labels" class="label label-small" style="background-color:{{ label.color }}">{{ label.title }}</span></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
