
<div class="row row-header">
    <div class="col-md-12">
        <h1>{{ project.name }}</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <a href="#/project/{{ project.pk }}/issues/new" class="btn btn-success btn-block">Add a new issue</a>

        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" class="active"><a href="#/project/{{ project.pk }}/issues">Issues</a></li>
            <li role="presentation"><a href="#" >Search</a></li>
            <li role="presentation"><a href="#" >Settings</a></li>
        </ul>
    </div>

    <div class="col-md-9">
        <div class="box">
            <div class="box-header">
                <h3>Issue</h3>
            </div>

            <div class="box-body">
                <table st-table="rowCollection" class="table table-striped">
                    <thead>
                    <tr>
                        <th>Ref</th>
                        <th>Author</th>
                        <th>Title</th>
                        <th>Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="issue in project.issues">
                        <td>#{{issue.reference}}</td>
                        <td>pseudo</td>
                        <td><a href="#/project/{{ project.pk }}/issue/{{ issue.reference }}" >{{ issue.title }}</a></td>
                        <td>{{ issue.created_date | date :'MM-dd-yyyy' }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>



    </div>
</div>

