
<div class="row row-header">
    <div class="col-md-12">
        <h1>{{ project.name }}</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <a href="#/project/{{ project.pk }}/issues/new" class="btn btn-success btn-block">Add a new issue</a>

        <h4 class="sidenav-title">NAVIGATION</h4>
        <ul class="sidenav">
            <li><a href="#/project/{{ project.pk }}/issues"><i class="glyphicon glyphicon-th-list"></i> Issues</a></li>
            <li><a href="#"><i class="glyphicon glyphicon-stats"></i> Stats</a></li>
            <li><a href="#/project/{{ project.pk }}/settings"><i class="glyphicon glyphicon-cog"></i>  Settings</a></li>
        </ul>
    </div>

    <div class="col-md-3">
        <div class="box">
            <div class="box-header">
                <h3>Labels</h3>
            </div>

            <div class="box-body">
                <div class="row" ng-repeat="label in labels">
                    <div class="col-md-9 block-label">
                        <span class="label" style="background-color:{{ label.color }}" >{{ label.title }}</span>
                    </div>
                    <div class="col-md-3 text-right">
                        <a href=""><i class="glyphicon glyphicon-pencil"></i></a>
                        <a href=""><i class="glyphicon glyphicon-trash"></i></a>
                    </div>
                </div>

                <div class="row">
                    <form novalidate class="simple-form">
                        <input type="text" class="form-control" ng-model="label.title" />
                        <input colorpicker type="text" class="form-control" ng-model="label.color" />
                        <button class="btn btn-primary" ng-click="addNewLabel(label)"><i class="glyphicon glyphicon-plus"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

