
<div class="row row-header">
    <div class="col-md-12">
        <h1>{{ project.name }}</h1>
    </div>
</div>

<div class="row row-header row-action">
    <div class="col-md-12 text-right">
        <a href="#/project/{{ project.pk }}/issues/new" class="btn btn-success">Add a new issue</a>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" class="active"><a href="#/project/{{ project.pk }}/issues">Issues</a></li>
            <li role="presentation"><a href="#" >Search</a></li>
            <li role="presentation"><a href="#" >Settings</a></li>
        </ul>
    </div>

    <div class="col-md-9">

        <table st-table="rowCollection" class="table table-striped">
            <thead>
            <tr>
                <th>ref</th>
                <th>title</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="issue in project.issues">
                <td>#{{issue.reference}}</td>
                <td><a href="#/project/{{ project.pk }}/issue/{{ issue.reference }}" >{{ issue.title }}</a></td>
            </tr>
            </tbody>
        </table>

    </div>
</div>

