{% extends "apptracker/projects/base_projects.html" %}

{% block title %}
    Teams - Issue Tracker
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-3">
            <div class="box">
                <div class="box-body">
                    <a href="{% url "team-create" %}" class="btn btn-block btn-primary">Create a team</a>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            {% for team in teams %}
                <div class="box">
                    <div class="box-header">
                        <h3>{{ team.name }}</h3>
                    </div>
                    <div class="box-body">
                        Label : <span class="label" style="background-color:{{ team.color }}">{{ team.name }}</span>
                        {% with permissions=team.permissions.all %}
                            {% if permissions %}
                                <hr/>
                                <h4>Permissions</h4>
                                <ul>
                                    {% for permission in permissions %}
                                        <li>{{ permission }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endwith %}
                        <hr/>
                        <h4>Members</h4>
                    <ul>
                        {% for member in team.user_set.all %}
                            <li>{{ member.username }}</li>
                            {% endfor %}
                    </ul>
                        <hr/>
                        <div class="text-right">
                            <a href="{% url "team-delete" team.pk %}" class="btn  btn-danger">Delete</a>
                            <a href="{% url "team-edit" team.pk %}" class="btn btn-primary">Edit</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}