<div class="row">
    <div class="col-md-6">
        <h1><a href="#/project/{{ issue.project.pk }}/issues">< {{ issue.project.name }}</a></h1>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="box">
            <div class="box-header back">
                <div class="row">
                    <div class="col-md-10">
                        <h3 ng-hide="editorTitleEnabled">{{ issue.title }} <small><a href="" ng-click="enableEditorTitle()"><i class="glyphicon glyphicon-pencil"></i></a></small></h3>
                        <div ng-show="editorTitleEnabled">
                            <div class="row vertical-align">
                                <div class="col-md-11">
                                    <input type="text" class="form-control" ng-model="issue.title" value="{{ issue.title }}"/>
                                </div>
                                <div class="col-md-1">
                                    <a href="" ng-click="saveEditTitle()"><i class="glyphicon glyphicon-floppy-disk"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 text-right">
                        <span class="label label-success" ng-hide="issue.is_closed">Open</span>
                        <span class="label label-danger" ng-show="issue.is_closed">Close</span>

                    </div>
                </div>

            </div>

            <div class="box-body">
                <div class="row issue-description-meta">
                    <div class="col-md-10">
                        <strong>{{ issue.owner.username }}</strong>
                    </div>

                    <div class="col-md-2 text-right">
                        <a href="" ng-click="enableEditorDescription()"><i class="glyphicon glyphicon-pencil"></i></a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <span ng-hide="editorDescriptionEnabled" class="issue-description" ng-bind-html="issue.description_html"></span>
                        <div ng-show="editorDescriptionEnabled">
                            <textarea  class="form-control" rows="10" ng-model="issue.description" value="{{ issue.description }}"></textarea>
                            <button class="btn btn-success" ng-click="saveEditDescription()">Edit</button>
                            <button class="btn btn-default" ng-click="disableEditorDescription()">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="box">
            <div class="box-header">
                <h3>Details</h3>
            </div>

            <div class="box-body">
                <div class="detail-issue text-center">
                    <small>Creation</small><br/>
                    <strong>{{ issue.created_date | date: "MM/dd/yyyy" }}</strong>
                </div>

                <div class="detail-issue text-center">
                    <small>Update</small><br/>
                    <strong>{{ issue.modified_date | date: "MM/dd/yyyy" }}</strong>
                </div>

                <h4>Labels</h4>
                <p class="text-center" ng-hide="issue.labels">No label</p>
                <p ng-repeat="label in issue.labels"><span class="label" style="background-color:{{ label.color }}">{{ label.title }}</span></p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="box">
            <div class="box-header">
                <h3>Action</h3>
            </div>

            <div class="box-body">
                <button type="button" class="btn btn-block btn-danger" ng-click="close()" ng-hide="issue.is_closed">Close Issue</button>
                <button type="button" class="btn btn-block btn-success" ng-click="open()" ng-show="issue.is_closed">Open Issue</button>
                <button type="button" class="btn btn-block btn-danger" ng-click="remove()">Delete</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="box">
            <div class="box-header">
                <div class="row">
                    <div class="col-md-10">
                        <h3>Comment</h3>
                    </div>

                    <div class="col-md-2 text-right">
                        <span class="label label-info">0</span>
                    </div>
                </div>
            </div>

            <div class="box-body">
                <p class="text-center">No messages</p>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="box">
            <div class="box-header">
                <h3>Activity</h3>
            </div>

            <div class="box-body">
                <ul class="timeline" >
                    <li>
                        <div class="timeline-badge success"><i class="glyphicon glyphicon-plus"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Issue open</h4>
                                <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{ issue.created_date }}</small></p>
                            </div>
                        </div>
                    </li>

                    <li ng-repeat="activity in issue.activity" ng-class-odd="'timeline-inverted'">
                        <div class="timeline-badge warning"><i class="glyphicon glyphicon-edit"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Edit : {{ activity.attribute_changed }}</h4>
                                <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{ activity.created_date }}</small></p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>