body{
    background-color: #E5E9EC;
}

/*************************
 * General
 ************************/
.container {
    margin-top: 20px;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.row-header {
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
}

.row-action {
    background-color: #F0F0F0;
    border-radius: 5px;
}

/*************************
 * Project issues list
 ************************/
.issue-block {
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    background-color: #FFFFFF;
}