body{
    background-color: #F3F3F4;
}

/*************************
 * General
 ************************/
.container {
    margin-top: 20px;
}

.container-full {
  margin: 0 auto;
  width: 100%;
    background-color: #FFFFFF;
}

h1, h2, h3 {
    color: #5B5B5B;
}

h2, h3 {
    margin: 0;
    padding: 0;
}

.box {
    background-color: #FFFFFF;
    border: solid #E7EAEC;
    border-width: 4px 1px 1px 1px;
    margin-bottom: 20px;
}

.box-header {
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #E7EAEC;
}

.box-body {
    margin: 15px;
}

.nav {
    padding-top: 40px;
}
.vertical-align {
    display: flex;
    align-items: center;
}

.row-header {
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
}

.row-action {
    background-color: #F0F0F0;
    border-radius: 5px;
}

/*************************
 * Project issues list
 ************************/
.issue-block {
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    background-color: #FFFFFF;
}