body{
    background-color: #F3F3F4;
    color: #5C5C5C;
    font-size: 13px;
}

/*************************
 * General
 ************************/
.container {
    margin-top: 20px;
}

.container-full {
    margin: 0 auto;
    width: 100%;
    background-color: #FFFFFF;
}

h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
    color: #5B5B5B;
    font-weight: bold;
}

h3 {
    font-size: 18px;
}

.box {
    background-color: #FFFFFF;
    border: solid #E7EAEC;
    border-width: 4px 1px 1px 1px;
    margin-bottom: 20px;
}

.box-header {
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #E7EAEC;
}

.box-header.back {
    background-color: #F3F6FB;
}

.box-body {
    margin: 15px;
}

.box-footer {
    padding: 10px;
    margin-top: 10px;
    border-top: 1px solid #E7EAEC;
}

.nav {
    padding-top: 40px;
}
.vertical-align {
    display: flex;
    align-items: center;
}

.row-header {
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
}

.row-action {
    background-color: #F0F0F0;
    border-radius: 5px;
}

/*************************
 * Project issues list
 ************************/
.issue-block {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #E7EAEC;
}

.sidenav-title {
    padding-top: 40px;
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
}

.sidenav {
    list-style: none;
    margin:0;
    padding:0;
}

.sidenav a {
    display: block;
    padding: 5px;
    border-bottom: 1px solid #DCDCDC;
}

/*************************
 * Issue detail
 ************************/
.issue-description-meta {
    padding-bottom: 10px;
}

/*************************
 * Project settings
 ************************/
.label{
    font-size: 13px;
    margin-right: 3px;
    margin-left: 3px;
}

.label-small {
    font-size: 11px;
    margin-right: 5px;
    padding: 2px;
}

.block-label {
    margin-bottom: 10px;
}