{% extends "apptracker/projects/base_projects.html" %}

{% block title %}
    {{ project.name }}
{% endblock %}

{% block breadcrumb %}
    / {{ project.name }} / Issues
{% endblock %}

{% block nav_menu %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ project.name }} <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            {% if perms.apptracker.view_label %}
                <li><a href="{% url "project-labels" project.pk %}">Labels</a></li>
            {% endif %}
            {% if perms.apptracker.edit_project %}
                <li><a href="{% url "project-edit" project.pk %}">Edit project</a></li>
            {% endif %}
        </ul>
    </li>
    <li><a href="{% url "issue-list" project.pk %}">Issues</a></li>
    <li>
        <p class="navbar-btn">
            <a href="{% url "issue-new" project.pk %}" class="btn btn-success">Open issue</a>
        </p>
    </li>
{% endblock %}

{% block side_menu %}
    <li class="sidebar-title"><span>NAVIGATION</span></li>
    <li class="sidebar-list">
        <a href="{% url "issue-list" project.pk %}?is_open=on">Issues <span class="menu-icon glyphicon glyphicon-th-list"></span></a>
    </li>
    <li class="sidebar-list">
        <a href="{% url "issue-new" project.pk %}">Open issue <span class="menu-icon glyphicon glyphicon-plus"></span></a>
    </li>
    {% block issue_actions %}{% endblock %}

    {% if user.is_authenticated %}
        <li class="sidebar-title"><span>PROJECT</span></li>

        {% if perms.apptracker.view_label %}
            <li class="sidebar-list">
                <a href="{% url "project-labels" project.pk %}">Labels <span class="menu-icon glyphicon glyphicon-tags"></span></a>
            </li>
        {% endif %}

        {% if perms.apptracker.edit_project %}
            <li class="sidebar-list">
                <a href="{% url "project-edit" project.pk %}">Edit <span class="menu-icon glyphicon glyphicon-pencil"></span></a>
            </li>
        {% endif %}

        <li class="sidebar-title"><span>GLOBAL</span></li>
        {% if perms.apptracker.view_trackerteam %}
            <li class="sidebar-list">
                <a href="{% url "team-list" %}">Teams <span class="menu-icon glyphicon glyphicon-user"></span></a>
            </li>
        {% endif %}
    {% endif %}
{% endblock %}

{% block sidebar_footer %}
    <div class="col-xs-6">
        <a href="{{ project.repository }}" target="_blank">
            Repository
        </a>
    </div>
    <div class="col-xs-6">
        <a href="{{ project.documentation }}" target="_blank">
            Documentation
        </a>
    </div>
{% endblock %}