{% extends "apptracker/base.html" %}

{% block page_title %}
    Projects
{% endblock %}

{% block breadcrumb %}
    <a href="{% url "project-list" %}">Projects</a>
{% endblock %}

{% block side_title %}
    Projects
{% endblock %}

{% block side_menu %}
    <li class="sidebar-title"><span>NAVIGATION</span></li>
    <li class="sidebar-list">
        <a href="{% url "project-list" %}">Projects <span class="menu-icon glyphicon glyphicon-th-list"></span></a>
    </li>
    <li class="sidebar-list">
        <a href="#">Settings <span class="menu-icon glyphicon glyphicon-cog"></span></a>
    </li>
{% endblock %}