{% extends "apptracker/projects/base_detail.html" %}
{% load staticfiles %}
{% load apptracker_tags %}

{% block page_title %}
    Labels
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "bower_components/bootstrap-colorpicker/css/colorpicker.css" %}"/>

{% endblock %}

{% block extra_js %}
    <script src="{% static "bower_components/bootstrap-colorpicker/js/bootstrap-colorpicker.js" %}"></script>
    <script>
        $(function(){
            $('.color-input').colorpicker();

            $('.delete-label-button').click(function(){
                console.log(this.value);
                $.ajax({
                    url: this.value,
                    method: 'POST',
                    data: '',
                    success: function(response, status){
                        console.log(response);
                        console.log(status)
                    },
                    error: function(response, status, error){
                        console.log(error);
                    }
                });
            });
        });
    </script>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-xs-4">
            <div class="box">

                <div class="box-body">
                    {% if labels %}

                        {% for label in labels %}
                            <div class="row" id="label-{{ label.pk }}">
                                <div class="col-xs-6">
                                    <p><span class="label" style="background-color:{{ label.color }}">{{ label.title }}</span></p>
                                </div>
                                <div class="col-xs-6">
                                    <button type="button" class="btn btn-primary btn-sm delete-label-button" value="{% url "label-delete" project.pk label.pk %}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                                </div>
                            </div>
                        {% endfor %}

                    {% else %}
                        <p>No labels.</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-xs-3">
            <div class="box">
                <div class="box-header">
                    <h3>Add a new label</h3>
                </div>
                <div class="box-body">
                    <form action="" method="post">{% csrf_token %}
                        {% with title=form.title %}
                            {% if title.errors %}
                                <div class="form-group has-error">
                                    {{ title.label_tag }}
                                    {{ title|add_css_class:"form-control" }}
                                    {% for error in title.errors %}
                                        <span id="helpBlock" class="help-block">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                <div class="form-group">
                                    {{ title.label_tag }}
                                    {{ title|add_css_class:"form-control" }}
                                </div>
                            {% endif %}
                        {% endwith %}

                    {% with color=form.color %}
                            {% if color.errors %}
                                <div class="form-group has-error">
                                    {{ color.label_tag }}
                                    {{ color|add_css_class:"color-input form-control" }}
                                    {% for error in color.errors %}
                                        <span id="helpBlock" class="help-block">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                <div class="form-group">
                                    {{ color.label_tag }}
                                    {{ color|add_css_class:"color-input form-control" }}
                                </div>
                            {% endif %}
                        {% endwith %}
                        <button type="submit" class="btn btn-primary btn-block">Add</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}