{% extends "apptracker/issues/base.html" %}

{% block issue_actions %}
    <li class="sidebar-title"><span>ISSUE ACTIONS</span></li>
    <li class="sidebar-list">
        <a href="#">Edit <span class="menu-icon glyphicon glyphicon-pencil"></span></a>
    </li>
    <li class="sidebar-list">
        {% if issue.is_closed %}
            <a href="#">Open <span class="menu-icon glyphicon glyphicon-ok-circle"></span></a>
        {% else %}
            <a href="#">Close <span class="menu-icon glyphicon glyphicon-remove-circle"></span></a>
        {% endif %}
    </li>
    <li class="sidebar-list">
        <a href="{% url "issue-delete" project.pk issue.pk %}">Delete <span class="menu-icon glyphicon glyphicon-trash"></span></a>
    </li>
{% endblock %}

{% block page_title %}
    {% if issue.is_closed %}
        <span class="label label-danger">Close</span>
    {% else %}
        <span class="label label-success">Open</span>
    {% endif %}
    <small>#{{ issue.pk }}</small>
    <h1>{{ issue.title }}</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="box">
                <div class="box-body">
                    <div class="row issue-description-meta">
                        <div class="col-md-8">
                            <i class="glyphicon glyphicon-user"></i><strong> {{ issue.owner.username }}</strong>
                        </div>

                        <div class="col-md-4 text-right">
                            <i class="glyphicon glyphicon-time"></i><strong> {{ issue.created_date|date:"M-d-y" }}</strong>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <span class="issue-description">{{ issue.description_html | safe }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="box">
                <div class="box-header">
                    <h3>Details</h3>
                </div>

                <div class="box-body">
                    <div class="detail-issue text-center">
                        <small>Creation</small><br/>
                        <strong>{{ issue.created_date|date:"M-d-y" }}</strong>
                    </div>

                    <div class="detail-issue text-center">
                        <small>Update</small><br/>
                        <strong>{{ issue.modified_date|date:"M-d-y" }}</strong>
                    </div>

                    <h4>Labels</h4>
                    {% with labels=issue.labels.all %}
                        {% if labels %}
                            {% for label in labels %}
                                <p><span class="label" style="background-color:{{ label.color }}">{{ label.title }}</span></p>
                            {% endfor %}
                        {% else %}
                            <p class="text-center" ng-hide="issue.labels">No label</p>
                        {% endif %}
                    {% endwith %}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="box">
                    <div class="box-header">
                        <div class="row">
                            <div class="col-md-10">
                                <h3>Comment</h3>
                            </div>

                            <div class="col-md-2 text-right">
                                <span class="label label-info">0</span>
                            </div>
                        </div>
                    </div>

                    <div class="box-body">
                        <p class="text-center">No messages</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="box">
                    <div class="box-header">
                        <h3>Activity</h3>
                    </div>

                    <div class="box-body">
                        <ul class="timeline" >
                            <li>
                                <div class="timeline-badge success"><i class="glyphicon glyphicon-plus"></i></div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">Issue open</h4>
                                        <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{ issue.created_date }}</small></p>
                                    </div>
                                </div>
                            </li>

                            <!--<li ng-repeat="activity in issue.activity" ng-class-odd="'timeline-inverted'">
                            <div class="timeline-badge warning"><i class="glyphicon glyphicon-edit"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">Edit : {{ activity.attribute_changed }}</h4>
                                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{ activity.created_date }}</small></p>
                                </div>
                            </div>
                        </li>-->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}