{% extends "apptracker/issues/base_sidebar_actions.html" %}

{% load humanize %}
{% load apptracker_tags %}

{% block title %}
    {{ issue.title }}
{% endblock %}

{% block page_title %}
    {% if issue.is_closed %}
        <span class="label label-danger">Close</span>
    {% else %}
        <span class="label label-success">Open</span>
    {% endif %}
    <small>#{{ issue.pk }}</small>
    <h1>{{ issue.title }}</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-7">
            <div class="box">
                <div class="box-header back">

                    {% with labels=issue.labels.all %}
                        {% if labels %}
                            {% for label in labels %}
                                <span class="label" style="background-color:{{ label.color }}">{{ label.title }}</span>
                            {% endfor %}
                        {% else %}
                            <span>No label</span>
                        {% endif %}
                    {% endwith %}

                    <hr/>
                    <div class="row issue-description-meta">
                        <div class="col-md-6">
                            <p>Reported by <strong> {{ issue.owner.username }}</strong></p>
                            {% with pull_request=issue.pull_request %}
                                {% if pull_request %}
                                    <p>Pull Request : <a href="{{ pull_request }}">{{ pull_request }}</a></p>
                                {% else %}
                                    <p>Pull Request : No pull request associated.</p>
                                {% endif %}
                            {% endwith %}
                        </div>

                        <div class="col-md-6 text-right">
                            <p>Opened <strong> {{ issue.created_date|naturaltime }}</strong></p>
                            <p>Last Modified <strong> {{ issue.modified_date|naturaltime }}</strong></p>
                        </div>
                    </div>
                </div>

                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>{{ issue.title }}</h3>
                            <hr/>
                            <span class="issue-description">{{ issue.description_html | safe }}</span>
                        </div>
                    </div>
                </div>
            </div>

            {% with comments=issue.comments.all %}
                <div class="box">
                    <div class="box-header">
                        <div class="row">
                            <div class="col-md-10">
                                <h3>Comment</h3>
                            </div>

                            <div class="col-md-2 text-right">
                                <span class="label label-info">{{ comments|length }}</span>
                            </div>
                        </div>
                    </div>

                    <div class="box-body">
                        {% if comments %}
                            {% for comment in comments %}
                                <div class="comment">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <strong>{{ comment.author.username }}</strong>
                                            {% if comment.is_issue_owner %}
                                                <span class="comment-op">OP</span>
                                            {% endif %}
                                        </div>
                                        <div class="col-xs-6 text-right">
                                            <span><i class="glyphicon glyphicon-time"></i> {{ comment.created_date|naturaltime }}</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            {{ comment.text_html | safe }}
                                        </div>
                                    </div>
                                </div>
                                <hr/>
                            {% endfor %}
                        {% else %}
                            <p class="text-center">No messages</p>
                            <hr/>
                        {% endif %}

                        <form action="{% url "issue-comment" project.pk issue.pk %}" method="post">{% csrf_token %}
                            <div class="form-group">
                                {% with text_comment=comment_form.text %}
                                    {% if text_comment.errors %}
                                        <div class="form-group has-error">
                                            {{ text_comment|add_css_class:"form-control" }}
                                            {% for error in text_comment.errors %}
                                                <span id="helpBlock" class="help-block">{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        <div class="form-group">
                                            {{ text_comment|add_css_class:"form-control" }}
                                        </div>
                                    {% endif %}
                                {% endwith %}
                            </div>
                            <div class="text-right">
                                <button type="submit" class="btn btn-primary">Comment</button>
                            </div>
                        </form>
                    </div>
                </div>
            {% endwith %}

        </div>
    </div>
{% endblock %}