{% extends "apptracker/issues/base.html" %}

{% block page_title %}
    Issues
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-6">
            <div class="box">
                <div class="box-body">
                    {% for issue in issues %}
                        <div class="issue-block">
                            <h4><a href="{% url "issue-detail" project.pk issue.pk %}" >{{ issue.title }}</a> <small>#{{ issue.pk }}</small></h4>
                            <p>
                                <i class="glyphicon glyphicon-time"></i> {{ issue.created_date|date:'M-d-y' }}
                                <i class="glyphicon glyphicon-user"></i> {{ issue.owner.username }}
                                <i class="glyphicon glyphicon-tags"></i>
                                {% for label in issue.labels.all %}
                                    <span class="label label-small" style="background-color:{{ label.color }}">{{ label.title }}</span>
                                {% endfor %}
                            </p>
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <nav>
                            <ul class="pagination">
                                {% if page_obj.has_previous %}
                                    <li>
                                        <a href="{% url "issue-list" project.pk %}?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                            <span aria-hidden="true">Previous</span>
                                        </a>
                                    </li>
                                {% endif %}

                                <li><a href="{% url "issue-list" project.pk %}?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>

                                {% if page_obj.has_next %}
                                    <li>
                                        <a href="{% url "issue-list" project.pk %}?page={{ page_obj.next_page_number }}" aria-label="Next">
                                            <span aria-hidden="true">Next</span>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-4">
            <div class="box">
                <div class="box-header">
                    <h3>Filter</h3>
                </div>

                <div class="box-body">

                </div>
            </div>
        </div>
    </div>
{% endblock %}